body {
    font-family: sans-serif;
    background-color: #e0e0e0;
}

h1 {
    font-size: 3em;
    font-family: serif;
    text-align: center;
    letter-spacing: 0.3em;
}

h3 {
    position: relative;
    top: 0;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #333;
    border-radius: 3px;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

form {
    font-size: 1.2em;
}

input {
    width: 50px;
    background-color: white;
    color: black;
    border: 2px solid #333;
    padding: 10px;
    font-size: 1.2em;
}

.contentWrapper {

    min-width: 400px;
    max-width: 800px;
    margin: 0 auto;
}

.toolbar {
    width: 100px;
    margin: 0 auto;
}

button {
    width: 100px;
}

.red {
    text-align: center;
    font-size: 20px;
    color: #ff0000;
}

ul {
    list-style-type: none;
    margin: 0 0 0 -40px;
}

li {
    margin: 8px 0;
    padding: 10px 20px;
    background-color: #eee;
    border-radius: 3px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
    transition: 300ms;
}


    li .title {
        cursor: pointer;
        height: 70px;
    }

        li .title .text {
            float: left;
            width: calc(100% - 53px);
        }

        li .title .icon {
            float: left;
            margin: 10px 0 0 0;
            width: 53px;
            height: 31px;
        }

            li.show .title .icon {
            background: url('icon.svg') 0 31px; 
            }

            li.hide .title .icon {
                background: url('icon.svg') 0 0;
            }

    li .article {
        clear: left;
        font-size: 14px;
        line-height: 1.5em;
        color: #333;
        min-height: 20px;
        max-height: 200px;
        overflow: auto;
    }

        li.show .article{
            display: block;
        }

        li.hide .article{
            display: none;
        }

.paginationBox {
    width: 100%;
    margin: 10px 0 0 0;
}
    .previousPageButton {
        width: 150px;
        float: left;
    }
    .nextPageButton {
        width: 150px;
        float: right;
    }
    .indicator {
        width: 230px;
        margin: 0 auto;
    }